* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LINE Seed Sans TH", sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/assets/fonts/LINESeedSansTH_W_Th.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/assets/fonts/LINESeedSansTH_W_Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/assets/fonts/LINESeedSansTH_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/assets/fonts/LINESeedSansTH_W_XBd.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/assets/fonts/LINESeedSansTH_W_He.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #101010;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #101010;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #101010;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: #101010;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  color: #101010;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #303030;
}

body {
  background-color: #f6faff;
  background-image: repeating-linear-gradient(
      rgba(10, 102, 194, 0.1) 0%,
      rgba(10, 102, 194, 0.1) 1px,
      transparent 1px,
      transparent 50%
    ),
    repeating-linear-gradient(
      90deg,
      rgba(10, 102, 194, 0.1) 0%,
      rgba(10, 102, 194, 0.1) 1px,
      transparent 1px,
      transparent 50%
    );
  background-size: 150px 150px;
  min-width: 350px;
  max-width: 1920px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.2);
  margin: 0 20px;
  margin-top: 20px;
  padding: 20px 30px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  color: #4285f4;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 40px;
}

.menu li a {
  text-decoration: none;
  color: #101010;
}

.introduce {
  padding-top: 130px;
  padding-bottom: 50px;
  height: 100%;
}

.introduce-warp {
  padding: 10px 5%;
  display: flex;
  gap: 10%;
  align-items: center;
  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}

.introduce-name {
  line-height: 1;
  color: #4285f4;
  margin-bottom: 10px;
}

.introduce-role {
  margin-bottom: 40px;
  font-size: 18px;
}

.introduce-desp {
  margin-bottom: 40px;
}

.social {
  display: flex;
  gap: 20px;
}

.social-icon {
  width: 25px;
  height: 25px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.features-card {
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.2);
  padding: 25px;
  border-radius: 20px;
}

.features-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.features-icon {
  font-size: 24px;
  color: #101010;
  margin-right: 15px;
}

.features-title {
  color: #4285f4;
}

.project {
  background-color: #ffffff;
  height: 100%;
  margin: 0 30px;
  margin-bottom: 30px;
  box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.2);
  border-radius: 20px;
  scroll-margin-top: 110px;
}

.project-warp {
  padding: 30px 25px;
  padding-bottom: 25px;
  align-items: center;
  height: 100%;
}

.project-header-text {
  color: #4285f4;
}

.project-header-desp {
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #ffffff;
  border: 2px solid #ebf3ff;
  border-radius: 12px;
  width: 100%;
  /* box-shadow: 0 0px 15px 0 rgba(10, 102, 194, 0.1); */
}

.project-title {
  color: #4285f4;
  padding: 0 25px;
  font-size: 18px;
}

.project-img {
  width: 100%;
  aspect-ratio: 16/9;
  /* object-fit: cover; */
  border-radius: 10px;
  padding: 10px;
}

.project-desp {
  padding: 0 25px;
  margin-bottom: 20px;
}

.wix-logo {
  width: auto;
  height: 16px;
}

.skill {
  background-color: #ffffff;
  margin: 0 30px;
  margin-bottom: 10px;
  box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.2);
  border-radius: 20px;
  height: 100%;
  scroll-margin-top: 110px;
}

.skill-warp {
  padding: 30px 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50px;
}

.skill-header-text {
  color: #4285f4;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skill-icon {
  width: auto;
  height: 65px;
  /* box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.2); */
  border-radius: 5.5px;
}

#skill-html {
  box-shadow: 0 3px 10px 0 rgba(194, 47, 10, 0.3);
}

#skill-css {
  box-shadow: 0 3px 10px 0 rgba(10, 47, 194, 0.3);
}

#skill-js {
  box-shadow: 0 3px 10px 0 rgba(194, 163, 10, 0.3);
}

#skill-react {
  box-shadow: 0 3px 10px 0 rgba(10, 163, 194, 0.3);
}

#skill-materialui {
  box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.3);
}

#skill-nodejs {
  box-shadow: 0 3px 10px 0 rgba(10, 194, 16, 0.3);
}

#skill-expressapi {
  box-shadow: 0 3px 10px 0 rgba(101, 101, 101, 0.3);
}

#skill-git {
  box-shadow: 0 3px 10px 0 rgba(194, 59, 10, 0.3);
}

#skill-figma {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

#skill-wix {
  box-shadow: 0 3px 10px 0 rgba(194, 117, 10, 0.3);
}

.lang {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0 30px;
  margin-bottom: 30px;
}

.lang-list {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.2);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.education-warp {
  display: flex;
  padding: 30px 25px;
  background-color: #ffffff;
  margin: 0 30px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px 0 rgba(10, 102, 194, 0.2);
  border-radius: 20px;
  scroll-margin-top: 110px;
  align-items: center;
}

.education-head {
  padding-right: 10%;
  margin-bottom: 10px;
}

.education-header-text {
  color: #4285f4;
}

.education-all {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}

.education-title {
  font-size: 18px;
}

.footer-container {
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  p {
    font-size: 14px;
  }

  h2 {
    font-size: 28px;
  }

  .navbar {
    margin: 0 10px;
    margin-top: 10px;
    padding: 20px 30px;
  }

  .menu li {
    margin-left: 25px;
  }

  .introduce {
    padding-bottom: 15px;
  }

  .introduce-warp {
    flex-direction: column;
    gap: 30px;
  }

  .profile-image {
    width: 75px;
    height: 75px;
  }

  .introduce-name {
    margin-top: 20px;
    font-size: 36px;
  }

  .project {
    margin: 0 20px;
    margin-bottom: 30px;
  }

  .project-warp {
    padding: 0px;
  }

  .project-header-text {
    padding: 0 15px;
    padding-top: 15px;
  }

  .project-header-desp {
    padding: 0px 15px;
  }

  .project-list {
    padding: 0 15px;
    padding-bottom: 15px;
    flex-direction: column;
    gap: 15px;
  }

  .project-title {
    padding: 0 15px;
  }

  .project-desp {
    padding: 0 15px;
  }

  .skill {
    margin: 0 20px;
    margin-bottom: 10px;
  }

  .skill-warp {
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 15px 15px;
    padding-bottom: 20px;
  }

  .skill-list {
    gap: 20px;
  }

  .skill-icon {
    width: auto;
    height: 15px;
  }

  .lang {
    margin: 0 20px;
    margin-bottom: 30px;
  }

  .education-warp {
    flex-direction: column;
    align-items: start;
    margin: 0 20px;
    margin-bottom: 20px;
    padding: 15px 15px;
  }

  .education-all {
    flex-direction: column;
  }

  .footer-container {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .introduce-warp {
    flex-direction: column;
    gap: 30px;
  }

  .introduce-name {
    margin-top: 20px;
  }

  .project-list {
    flex-direction: column;
  }

  .skill-warp {
    gap: 20px;
  }

  .skill-icon {
    width: auto;
    height: 30px;
  }

  .education-all {
    flex-direction: column;
  }

  .education-warp {
    align-items: start;
  }
}

@media screen and (max-width: 1024px) {
  .introduce-warp {
    flex-direction: column;
    gap: 30px;
  }
  .introduce-name {
    margin-top: 20px;
  }
  .project-list {
    flex-direction: column;
  }

  .skill-warp {
    gap: 20px;
  }

  .skill-icon {
    width: auto;
    height: 45px;
  }

  .education-all {
    flex-direction: column;
  }

  .education-warp {
    align-items: start;
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1536px) {
}
